<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>document</title>
        <link rel="stylesheet" href="css/documentsStyle.css">
    </head>
    <body>
        <%= erb :search_input%>
        <%= erb :filter_documents%>
        <% if flash[:error_message] %>
            <p style="color: red"><%= flash[:error_message] %></p>
        <%end%>
        <table class="w3-table-all w3-hoverable w3-card-4" id="list">
            <tr class="w3-blue" >
                <th>Titulo</th>
                <th>Tipo</th>
                <th>Fecha de subida</th>
                <th>Descripcion</th>
                <th></th>
                <th></th>
                <% if @current_user.is_admin %>
                    <th></th>
                <% end %> 
            </tr>
            <%@documents.each do |document| 
                doc = Tag.find(user_id: @current_user.id, document_id: document.id) 
                #hacer mas optimas estas validaciones 
                if !doc.nil? 
                    if doc.checked %>
                        <tr id="row" class="w3-hover-cyan w3-grey">    
                    <%else%>
                        <tr id="row" class="w3-hover-light-blue w3-light-grey">      
                    <%end%>
                <%else%>
                    <tr id="row" class="w3-hover-light-blue w3-light-grey">  
                <%end%>  
                <% if document.visibility %>   
                    <form action="" method="POST">
                        <td><a href = '/doc_view/<%= document.id%>' target="_blank" > <%= document.title%></a></td>
                        <td><%= document.type == "Act" ? "Acta" : "Resolucion" %></a></td>
                        <td><%=document.created_at.to_date%></td>
                        <td><%=document.description%></td>

                        <% if !Tag.find(user_id: @current_user.id, document_id: document.id, favorite: true) && request.path_info != '/my_favorites' %> 
                            <td><button class="w3-button" name="add_favorite_doc" type="submit" value="<%=document.id%>" formaction="/add_fav"><i><img src=" <%=@icons+"disabled-star.png"%>"></i></button> </td>
                        <%else%>
                            <td><button class="w3-button" name="del_favorite_doc" type="submit" value="<%=document.id%>" formaction="/del_fav"><i><img src="<%=@icons+"enabled-star.png"%>"></i></button> </td>
                        <%end%>   
                        <td><button class="w3-button" name="download_document" type="submit" value="<%=document.id%>" formaction="/download_document"><i><img src="<%=@icons+"download.png"%>"></i></button> </td>
                        <% if @current_user.is_admin %>   
                            
                            <td><button class="w3-button" name="delete_doc" type="submit" value="<%=document.id%>" formaction="/delete_doc"><i><img src="<%=@icons+"trash-2.png"%>"></i></button> </td>   
                        <% end %>
                        
                    </form>  
                <% end %>  
                </tr>       
            <%end%>
        </table>
         
    </body>
</html>


