<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>document</title>
        <link rel="stylesheet" href="css/documentsStyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="documents">
           <table id="docs">
                <tr>
                  <th>Titulo</th>
                  <th>Fecha de subida</th>
                  <th>Descripcion</th>
                    <% if @current_user.is_admin %>
                        <th></th>
                    <% end %> 
                </tr>

                <%@documents.each do |document| 
                    doc = find_document_user(@current_user.id, document.id)
                    #hacer mas optimas estas validaciones 
                    if doc 
                        if doc.checked %>
                            <tr id="row" style="background-color:#838383">    
                        <%else%>
                            <tr id="row">      
                            <%end%>
                    <%else%>
                        <tr id="row">  
                    <%end%>  
                    <% if document.visibility %>   
                        <td><a href = '/doc_view/<%= document.id%>' target="_blank" > <%= document.title%></a></td>
                        <td><%=document.created_at.to_date%></td>
                        <td><%=document.description%></td>
                       
                        <% if !find_document_favorite(@current_user.id,document.id) && request.path_info != '/my_favorites' %> 
                            <td><a href = '/add_fav/<%=document.id%>' >Agregar a favoritos</a></td>
                        <%else%>
                            <td><a href = '/del_fav/<%=document.id%>' >Eliminar de favoritos</a></td>                
                        <%end%>   
                       
                        <% if @current_user.is_admin %>   
                            <td><a name ="delete" href = '/delete_doc/<%=document.id%>'>Eliminar</a></td>
                        <% end %>  
                    <% end %>  
                    </tr>       
                <%end%>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>


