<!DOCTYPE html>
<html lang="es">
    <head>
        <!--Styles-->
        <meta charset = "utf-8">
        <title>Sistema de Notificaciones UNRC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/layoutStyle.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
    </head>
    <body>   
       
        <div class="site">
         <div class="content"><br><%= yield %></div>
        </div>

        <div class="header">
            <div >
                <img src="/images/logounrc.png" class="w3-display-topleft w3-margin-top w3-margin-left">
                <%if @current_user%>
                  <div class="loginInfo"> 
                      Sesion iniciada como <%=@current_user.name%> <%=@current_user.lastname%>
                  </div>
                  <button class=" w3-card w3-button w3-blue w3-round-large w3-display-bottomright  w3-margin">
                    <a class="w3-text-light-grey " style="text-shadow:1px 1px 0 #444"
                      href = '/log_out'> Cerrar Sesion </a>
                  </button>
                  <%= erb :socket%>
                <%end%>
            </div>
           
        <div class="row">
                <div class="menuPanel">
                <%if(@current_user)%>
                    <div class = "offset"></div>
                    <div class="w3-sidebar w3-bar-block w3-blue w3-card" style="width: 18%;">
                        <a href = '/documents' class='w3-bar-item w3-button w3-border-bottom'> Todos los Documentos </a> 
                        <a href = '/my_favorites' class='w3-bar-item w3-button w3-border-bottom'> Documentos Favoritos </a> 
                        <a href = '/my_tags' class='w3-bar-item w3-button w3-border-bottom'> Documentos Etiquetado </a> 
                        <a href = '/profile/<%=@current_user.id%>' class='w3-bar-item w3-button w3-border-bottom'> Mi Perfil </a> 
                        <a href = '/users_list' class='w3-bar-item w3-button w3-border-bottom'> Usuarios </a> 
                        <a href = '/topic_list' class='w3-bar-item w3-button w3-border-bottom'> Lista de tendencias </a> 
                        <%if(@current_user.is_admin)%>
                            <button class="w3-button w3-block w3-left-align w3-border-bottom" onclick="myAccFunc()">
                               Opciones de Administrador <i class="fa fa-caret-down"></i>
                            </button>
                            <div id="demoAcc" class="w3-hide w3-light-blue w3-card">
                                <a href = '/save_document' class='w3-bar-item w3-button w3-border-bottom'> Subir Documento </a> 
                                <a href = '/my_upload_documents' class='w3-bar-item w3-button w3-border-bottom'> Mis Documentos Subidos </a>
                            </div>
                        <%end%>
                    </div>
                <%end%>
            </div> 
            <div class="space"></div>
            
        </div>
        <script>
            function myAccFunc() {
              var x = document.getElementById("demoAcc");
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-light-blue";
              } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-light-blue", "");
              }
            }

            function myDropFunc() {
              var x = document.getElementById("demoDrop");
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-light-blue";
              } else { 
                x.className = x.className.replace(" w3-show", "");
                x.previousElementSibling.className = 
                x.previousElementSibling.className.replace(" w3-light-blue", "");
              }
            }
        </script>
    </body>
</html>