<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>profile</title>
        <link rel="stylesheet" href="css/profileStyle.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <div class="w3-container w3-cell">
            <img src="<%=@user.avatar_path%>" class="picture w3-circle" style="width:180px;height:180px;"> <br>   
        </div>
        <div class="w3-container w3-cell">
            <h1> <%=@user.name%> <%=@user.lastname%> </h1>
            <h2>DNI: <%=@user.dni%> </h2>
            <h2>Correo Electronico: <%=@user.email%> </h2>
            <%if @user.id == @current_user.id%>
            <div class="buttonSpace">
                <form action="/edit_profile" method="GET">
                    <button type="submit" ><img src="/images/icons/edit.png"></button>  
                </form>   
            </div>
        <%end%>
        </div>
       
       
    </body>

</html>
