<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>users_list</title>
        <link rel="stylesheet" href="css/documentsStyle.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class=" w3-bar w3-table-all w3-hoverable w3-card-4">
            <table id="docs">
                <tr class="w3-blue " >
                    <th></th>
                    <th class="w3-center"> Nombre </th>
                    <th class="w3-center" > Email </th>
                    <th class="w3-center" > Rol </th>
                    <% if @current_user.is_admin%>
                        <th> </th>
                        <th> </th>
                    <% end %>
                </tr>
                <form action="" method="POST">
                    <% @users.each do |user| %>
                        <tr class="">
                            <td ><img src="<%= user.avatar_path%>" alt="avatar" class="w3-bar-item w3-circle w3-padding-16" style="width:65px"></td>   
                            <td class="w3-margin-top " > 
                                <div class="w3-bar-item w3-center ">
                                    <span class="w3-large w3-margin-top">
                                        <a href = '/profile/<%=user.id%>' > <%="#{user.name}  #{user.lastname}"%> </a>
                                    </span><br>
                                    <span>DNI: <%= user.dni %></span>
                                </div>
                             </td>
                           <td class="w3-center w3-large " > <p class="w3-margin-top"> <%= user.email %> </p> </td>
                            <td class="w3-center w3-large"> <p class="w3-margin-top"> <%= user.is_admin ? "Administrador" : "Usuario" %> </p> </td>
                            <% if  @current_user.is_admin%>  
                                <% if user.dni != @current_user.dni  && user.is_admin%>
                                    <td class="w3-center"> 
                                        <button class="w3-button " name="delAdmin_id" type="submit" value="<%=user.id%>" formaction="/del_admin">
                                            <i class="w3-small" > 
                                                    <img class="w3-hover-pale-green" src=<%=@icons+"del_admin.png"%>></br> Eliminar administrador
                                            </i>
                                        </button> </td>
                                <% elsif user.dni != @current_user.dni %>
                                    <td class="w3-center">
                                        <button class="w3-button " name="addAdmin_id" type="submit" value="<%=user.id%>" formaction="/add_admin">
                                            <i class="w3-small" > 
                                                    <img class="w3-hover-pale-green" src=<%=@icons+"add_admin.png"%>></br> Añadir administrador
                                            </i>
                                        </button> </td>
                                <% else %>
                                    <td></td>
                                <% end %>
                                <% if user.dni != @current_user.dni %>
                                    <td class=" w3-center w3-tiny" > 
                                        <button class="w3-button w3-tiny" name="delete_user_id" type="submit" value="<%=user.id%>" formaction="/del_user">
                                            <i class="w3-small" > 
                                                <img class="w3-hover-pale-green" src=<%=@icons+"trash-2.png"%>></br> Eliminar usuario
                                            </i>
                                        </button>
                                    </td>
                                    
                                <% else %>
                                    <td></td>
                                <% end %>    
                            <% end %>
                        </tr>
                    <% end %>
                </form>
            </table>
        </div>
       
    </body>
</html>